$main-img-width: 398px;
$main-img-height: 296px;

$login-img-width: 410px;
$login-img-height: 304px;

$main-img-width-xl: 660px;
$main-img-height-xl: 480px;

$main-img-width-xxl: 760px;
$main-img-height-xxl: 550px;

$main-img-width-xxxl: 958px;
$main-img-height-xxxl: 710px;

.header {
  background-color: $bg_light_1;
  &.header_page {
    padding: 19px 0 24px;
    @media (min-width: 1200px) {
      padding: 33px 0 45px;
    }
  }
}

.firstscreen {
  position: relative;
}

//.firstscreen_1 {}

.firstscreen__inner {
  display: flex;
  flex-direction: column;
  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.fs-collage {
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  height: 212px;
  @media (min-width: 1200px) {
    position: static;
    overflow: auto;
    height: auto;
  }
  .fs-collage__img {
    background-image: url('../img/bg/collage-m.png');
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 100%;
    width: 445px;
    height: 212px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @media (min-width: 1200px) {
      transform: none;
      left: auto;
      background-image: url('../img/bg/collage-d.png');
      background-repeat: no-repeat;
      background-position: 100% 0;
      background-size: 100%;
      width: 525px;
      height: 630px;
      top: 0;
      right: 0;
    }
    @media (min-width: 1400px) {
      width: 655px;
      height: 775px;
    }
    @media (min-width: 1650px) {
      width: 780px;
      height: 920px;
    }
  }
}

.firstscreen__info {
  display: flex;
  flex-direction: column;
  width: 248px;
  margin: 0 auto 232px;
  z-index: 2;
  @media (min-width: 992px) {
    margin: 63px auto 232px;
    width: 280px;
  }
  @media (min-width: 1200px) {
    margin: 50px auto 60px 0;
    width: 500px;
    min-width: 500px;
    z-index: 0;
  }
  @media (min-width: 1400px) {
    width: 560px;
    min-width: 560px;
    margin: 63px auto 73px 0;
  }
  @media (min-width: 1650px) {
    width: 654px;
    min-width: 654px;
    margin: 63px auto 73px 0;
  }

  &.firstscreen__info1 {
    width: 280px;
    margin: 0 auto 306px;
    @media (min-width: 992px) {
      margin: 63px auto 306px;
    }
    @media (min-width: 1200px) {
      margin: 47px auto 60px 0;
      width: 500px;
      min-width: 500px;
      z-index: 0;
    }
    @media (min-width: 1400px) {
      width: 560px;
      min-width: 560px;
      margin: 47px auto 73px 0;
    }
    @media (min-width: 1650px) {
      width: 685px;
      min-width: 685px;
      margin: 47px auto 73px 0;
    }
  }

  // &.firstscreen__info2 {}
  // &.firstscreen__info3 {}
}

.firstscreen__form {
  width: 100%;
  position: relative;
}

.fsi-collage {
  width: 100%;
  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.fsi-collage__item {
  width: 100%; //280px
  height: 290px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  margin: 0 auto;
  @media (min-width: 380px) {
    height: 460px;
  }
  @media (min-width: 410px) {
    width: 370px;
    height: 460px;
  }
  @media (min-width: 1200px) {
    width: 300px;
    height: 400px;
    margin: 0;
  }
  @media (min-width: 1400px) {
    width: 345px;
    height: 440px;
  }
  @media (min-width: 1650px) {
    width: 370px;
    height: 460px;
  }

  &:nth-child(1) {
    display: none;
    @media (min-width: 1200px) {
      display: block;
    }
  }
  &:nth-child(2) {
    display: none;
    @media (min-width: 1200px) {
      display: block;
    }
  }
  &:nth-child(3) {
    @media (min-width: 1200px) {}
    @media (min-width: 1400px) {}
  }

}
